[submodule "rofi/bluetooth"]
	path = rofi/bluetooth
	url = https://github.com/nickclyde/rofi-bluetooth
[submodule "rofi/network-manager"]
	path = rofi/network-manager
	url = https://github.com/meowrch/rofi-network-manager
[submodule "rofi/wofi-emoji"]
	path = rofi/wofi-emoji
	url = https://github.com/dln/wofi-emoji
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
