nvim/.config/nvim/lazy-lock.json
dwm/.config/dwm/*
!dwm/.config/dwm/config.h
!dwm/.config/dwm/bar.sh
tmux/.config/tmux/plugins
zsh/.config/zsh/plugins
zsh/.config/zsh/themes
zsh/.config/zsh/zcompdump
